.pairing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh; 
  }
  
  .pairing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pairing-photo-wrapper {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-top: 10px; 
  }
  
  .pairing-photo-wrapper:hover .pairing-photo {
    transform: scale(1.1);
  }
  
  .pairing-photo {
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
    cursor: pointer; 
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #684589;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 5px 2px;
  }
  .disabled-link {
    pointer-events: none; 
    opacity: 0.5; 
    cursor: not-allowed; 
  }
  