.pairing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh; /* Tüm ekranı kapsaması için */
  }
  
  .pairing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pairing-photo-wrapper {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-top: 10px; /* Fotoğrafların başlıklardan biraz aşağıda olmasını sağlar */
  }
  
  .pairing-photo-wrapper:hover .pairing-photo {
    transform: scale(1.1);
  }
  
  .pairing-photo {
    width: 400px; /* Fotoğrafın başlangıç genişliği */
    height: 400px; /* Fotoğrafın başlangıç yüksekliği */
    object-fit: cover; /* Fotoğrafın içeriğinin boyutuna göre kırpılmasını sağlar */
    cursor: pointer; /* Fare imlecinin değişmesi için */
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #684589;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 5px 2px;
  }
  .disabled-link {
    pointer-events: none; /* Linklere tıklanamaz */
    opacity: 0.5; /* Opaklık azalır */
    cursor: not-allowed; /* Fare imleci değiştirilir */
  }
  