/* DogNotice.css */
.pet-content {
  padding: 10px;
  margin: 0; /* İçeriği sarmalayan boşluk */
  height: auto;
  align-items: center;
}

.pet-details {
  display: flex;
  flex-direction: column; /* Metin içeriğini dikey olarak sıralama */
  align-items: center; /* İçeriği yatayda ortala */
}

.pet-container {
  display: flex;
  justify-content: center;
}

.pet-info-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.columnn {
  width: 100%;
}

.divider {
  height: 100%;
  margin: 0 10px;
}

.pet-car {
  width: 20%; /* İki ilanı yan yana sığdırmak için %50 genişlik, kenar boşluğunu da düşünerek 10px çıkarıyoruz */
  /* İlanlar arasında boşluk bırak */
  padding: 10px;
  border: 3px solid #ccc; /* Border ekleme */
}

.pet-card-wrapperr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* İlan kartlarını eşit şekilde dağıt */
}

.pet-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

p {
  display: flex;
  justify-content: center;
}

.button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #6a1b9a;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button[disabled] {
  background-color: #d3d3d3; /* Dull grey */
  color: #808080; /* Dark grey */
}
.text {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .pet-car {
    display: flex;
    width: 25%;
    max-width: none;
  }
}

/* Burası Lar */
@media (min-width: 1024px) {
  .pet-card-wrapperr {
    justify-content: space-evenly;
  }
}
