.petsitting-container {
  margin: auto;
  margin-top: 25px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.petsitting-container h2 {
  margin-top: 0;
  text-align: center;
}

.petsitting-container form {
  display: flex;
  flex-direction: column;
}

.petsitting-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.petsitting-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.petsitting-container button:hover {
  background-color: #0056b3;
}

button[disabled] {
  background-color: #d3d3d3; /* Dull grey */
  color: #808080; /* Dark grey */
}
